body {
    margin: 0px;
    padding: 7px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: white;
    }
.pass {
    width: 170px;
}
#pwlen {
    width: 50px;
}
.logo {
    display: block;
    margin: 0px auto 10px auto;
}
.block {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}
.blocklen {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.blockbutt {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.butt {
    width: 100px;
}
.blockshow {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}
.blockhide {
    cursor: pointer;
    height: 15px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}
.show {
    width: 180px;
    height: 60px;
    font-family: "Courier New", Courier, monospace;
    word-wrap: break-word;
}
.desc {
    text-align: center;
}